<!DOCTYPE html>
<html lang="en">
<head>
    <title>MySQL Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/app.css">
</head>
<body>
<header>
    <a href="/">Yoga Blog</a>
    <hr>
</header>
<main>
    {{{body}}}
</main>
</body>
</html>